
button{
	background-color: snow;
	width: 25%;
	height: auto;
}
h3{
background-color: red;
}
label{
	background-color: red;
}
h2
{
	text-align: center;
	background-color: red;
}
.block{
	background-color: red;
	text-align: center;
}
.middle{
	text-align: center;
	width: 10cm;
}